*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  padding: 20px 40px;
  text-align: center;
}

.logo,
.nav,
.nav-ul > li,
.nav-image {
  display: inline-block;
}

.nav .nav-ul {
  margin: 0 200px;
}

.bg-our {
  position: relative;
}

.what {
  position: absolute;
  top: 30%;
  left: 40px;
  color: white;
}

.what h2 {
  font-size: small;
}
.our-services {
  background: white;
  padding: 80px 200px;
  top: -100px;
  margin: 0 100px;
  position: relative;
  font-size: 0;
}

.os-left {
  display: inline-block;
  width: 40%;
  text-align: left;
  margin-right: 10%;
  font-size: 16px;
}

.os-left h3 {
  color: red;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 20px;
  padding-left: 15px;
  border-left: 3px solid red;
}

.os-left h2 {
  font-size: 42px;
  color: black;
  font-weight: 700;
}

.os-right {
  position: absolute;
  left: 50%;
  top: 80px;
  width: 45%;
  text-align: left;
  font-size: 16px;
}

.os-right p {
  color: gray;
  margin-bottom: 25px;
  font-size: 15px;
}

.card {
  padding: 40px 100px;
  background: white;
  font-size: 0;
}

.card article {
  display: inline-block;
  width: 30%;
  margin-right: 3%;
  margin-bottom: 40px;
  text-align: center;
  font-size: 16px;
  background: wheat;
  padding: 40px 20px;
}

.card article img {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}

.card article h3 {
  font-size: 18px;
  font-weight: 700;
  color: black;
  margin-bottom: 15px;
}

.card article p {
  font-size: 14px;
  color: gray;
  margin: 0;
}

.subscribe {
  margin: 0 100px;
  background-color: chocolate;
  padding: 40px;
  font-size: 0;
}

.subscribe img {
  display: inline-block;
  width: 50px;
  height: 50px;
  font-size: 16px;
}

.subscribe h3 {
  font-size: 20px;
  color: white;
  margin-left: 20px;
  display: inline-block;
}

.subscribe form {
  width: 50%;
  display: inline-block;
  font-size: 16px;
  margin-left: 200px;
}

.subscribe form input {
  width: 65%;
  padding: 12px 20px;
  border: none;
  border-radius: 25px 0 0 25px;
  font-size: 14px;
}
.subscribe form button {
  width: 33%;
  padding: 12px 20px;
  background: black;
  color: white;
  border: none;
  border-radius: 0 25px 25px 0;
  font-size: 14px;
  margin-left: -5px;
}
